:root{
    --grid-background: rgb(255, 255, 255);
    --grid-lines: rgba(0, 0, 0, 100);
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
}

#fps{
    position: absolute;
    left: 50px;
    top: 50px;
    transform: translate(-50%, -50%);
}